<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front-teams</title>
    <link rel="stylesheet" href="./teams.css">
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">



<body>
    <div class="container">
        <div class="container_left">
            <div class="home">
                <div id="logo">
                    <img src="1234.jpg" alt="">
                </div>
                <div id="sideline">
                    <h1>Microsoft Teams</h1>
                </div>
            </div>

            <div class="about">
                <h1 class="h-primary">Welcome to Microsoft Teams</h1>
              
                <p id="heading">Be together in the moment with Microsoft teams.</p>
                <div class="block">
                    <a href='/{room}'><button class="btn">New Meeting</button></a>
                    <button class="btn">Join Meeting</button>
                </div>
            </div>



        </div>




        <div class="container_right">
            <div id="image">
                <img src="name.jfif">

            </div>
        </div>
    </div>


</body>


</html>