body{
    margin: 0px;
    padding: 0px;
    font-weight: 300px;
}



#video-grid{
    display: flex;
    justify-content: center;
    padding: 5px;
}

video{
    height: 200px;
    width: 300px;
    object-fit: cover;
    padding: 5px;
}
.main{
    display: flex;
height: 100vh;
    
}
.main_left{
flex: 0.8;
display: flex;
flex-direction: column;

}
.main_right{
flex: 0.2;


}
.main_videos{
flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls{
    display: flex;
    background-color: #262424;
padding: 5px;
justify-content:space-between;
}
.main_controls_block{
    display: flex;
    width: fit-content;
    font-size: 18px;


  
}
.button{
    display: flex;
    flex-direction: column;
    color:#ffffff;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 2px;
    margin-top: 2px;
    margin-bottom :2px; ;
    cursor: pointer;
    height: 70px;
    width: 100px;
}
.leave_meeting{
    
    display: flex;
    padding: 3px 22px;
    background-color: red;
    border-radius: 4px;
    justify-content: right;
    align-items: flex-end;
   
}
.button:hover{
    background-color: grey;
    
}
.main_right{
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: #262424;
    border-left: 1px solid #ffffff;
}
.main_header{
    color: #ffffff;
    text-align: center;
}
.chat_window{
    flex-grow: 1;
overflow-y: scroll;
}
.message_container{
    padding: 22px 52px ;
    display: flex;
}
.message_container input{

  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #ffffff;
  
}
.messages{
    color: white;
    list-style: none;
}
.unmute {
    color: red;
}
.stop{
    color: red;
}