body{
    background-color:#939ad2;
    font-family: 'Noto Sans TC', sans-serif;
}
.container{
    display: flex;
}
.container_left{
    flex: 0.6;
    display: flex;
    flex-direction: column;
    
    }
    .container_right{
    flex: 0.4;
}
.home{
    display: flex;
}

#logo{
   
    margin: 20px;
}
#sideline{
    margin: 3px 0px;
   
    color: #60607d;
    font-size: 13px;
}
.about{
    display: flex;
    flex-direction: column;
    margin: 78px 41px 33px 128px ;
}
.h-primary{
    display: flex;
    flex-direction: row;
    font-size: 36px;
    margin-bottom: -21px;
    color: #060651;
    

}
#heading1{
    display: flex;
 
}
#heading2{
 display: flex;
}
.about p{
    font-size: 20px;
}
.block{
    display: flex;
    flex-direction: row;
}
.btn{
    display: flex;
    flex-direction: row;
    background-color: #585e87;
    color:#ffffff;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 14px;
  margin-left:32px;
    cursor: pointer;
   height: 40px;
   border-radius: 8px;
}
.btn:hover{
    background-color:grey;
    
}
.container_right{
    
    display: flex;
    flex-direction:column;
    /* background-color:#262424; */
    /* border-left: 1px solid #ffffff; */
}
#image{
   margin-top: 160px;
   margin-right: 9px;
  
}



